@font-face {
  font-family: 'MyWebFont';
  src: url('../fonts/Roman_SD-webfont.ttf')  format('truetype');
       
}

body {
	font-family: 'MyWebFont', sans-serif;
	text-align: center;
	background-color: $beige;


}


header, .main {
	width: 80%;
	margin: 0 auto;
	min-width: 600px;
}

header  h1 {
	color: $deepdarkred;
	font-size: 1.9rem;
	letter-spacing: -.3rem;
	margin: .5rem 0 -1rem 0;
}

//nesting example
.timeline {
	margin: 4rem auto 0;
	width: 550px;
	position: relative;

	img {
	margin-left: 1.2rem;
	z-index: 100;

	}
}

//extend example

%scoreHud {
	position: absolute;
	display: block;
	z-index: 9999;
}

.armor-icon {
	@extend %scoreHud;
	top:-95px;
	left: 0px;
	background-color: $deepdarkred;
	height: 90px;
	width: 90px;
	margin: 1rem 0;
	@include hudImage("../img/armor/gallic-f.svg",90px, 90px );

}

.score {
	@extend %scoreHud;
	top: -40px;
	height: 60px;
	width: 70px;
	@include hudImage ("../img/armor/roman-legionary.svg", 60px, 60px );
	color: $deepred;
}

#msg{
	margin-top: 1rem;
	font-size: 2.5rem;
	height: 2.5rem;
	color: $deepred;
}

// example parent selector
section {
	&.emporer-icon img {
		width: 300px;
		margin: 2rem 0 .5rem 0;
		border-radius: 300px;
		background-color: $deepred;
	}
	
	&.question h2 {
		font-size: 1rem;
		width: 500px;
		margin: 0 auto;
	}

}



input[type="radio"] {
	display: none;

	&:checked + label span{
	background-color: $deepred;
	color: $beige;
	}
}


input[type="radio"] + label span {
	display: inline-block;
	cursor: pointer;
	border: 1px solid $deepred;
	margin: 1rem 0;
	padding: .3rem;
}




input[type="button"] {
	background-color: $deepred;
	border: none;
	font-family: 'MyWebFont', sans-serif;
	font-size: 1.2rem;
	margin: 1rem 0 0 0;
}

.left {
	float: left;
}

.right {
	float: right;
}